

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    color: white;
    
 
   
    
    
}

body{
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 
    112%, rgb(44, 40, 40) 78.9%);

}

.navbar{
    display: flex;
    padding: 2rem;
    justify-content: right;
}



.navbar a{
    padding: 2rem;
    font-size: 1.5rem;

    
}

.navbar a:hover{
    color: palevioletred; 
    transition: ease-in-out 0.4s;
    
    
}

.main{
    
    margin: 8rem 1rem 3rem 3rem ;
    display: flex;
    padding: 2rem;
    justify-content: center;
}

.main>.text>p{
    margin-top: 2rem;
    font-size: 1.7rem;
}

.text{
    margin-top: 4rem;
    padding-right: 8rem;
    font-size: 2.7rem;
    

}

.text>h1{
    font-size: 2.6rem;
    margin-top: 0.3rem;
}

.top{
    height: 28rem;
    border-radius: 10px 100px / 120px;
    
    
}
span{
    color: palevioletred;
    text-shadow: 3px 5px 5px rgb(110, 9, 9);
    
}
.btn{
    text-align: center;
    font-size: 1.4rem;
    border: 2px solid white;
    width: 10rem;
    border-radius: 1.5rem;
    padding: 0.4rem;
    margin-top: 70px;
    
    background: hsla(302, 82%, 76%, 1);

 background: linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);

 background: -moz-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);

 background: -webkit-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);

 filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F492F0", endColorstr="#A18DCE", GradientType=1 );
}

.main .btn :hover{
    color: black;
}

.aboutme{
    display: flex;
    margin: 15rem 0rem -5rem 0rem;
    
    
}

.aboutme .my{
    height: 25rem;
    margin: 0rem 5rem 10rem 5rem;
    text-transform: uppercase;
    
    
}

.aboutmetext{
    margin-right: 2rem;
}

.aboutmetext h1{
    font-size: 4rem;
    color: rgb(255, 1, 86);
    margin-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 3px 2px rgb(128, 18, 18); ;
}

.aboutmetext h2{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.8rem;
}

.aboutmetext p{
    font-size: 1.2rem;
}



.skills h1{
    font-size: 4rem;
    margin: 10rem 0rem 2rem 0rem;
    text-transform: uppercase;
    color: rgb(255, 0, 85);
    text-align: center;
    text-shadow:2px 3px 2px rgb(128, 18, 18); 
}

.skills{
    margin: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-bottom: 6rem;
}
.grid-item {
    background-color: rgba(0, 0, 0, 0.8);
    border: 0.1rem solid rgb(250, 3, 86);
    box-shadow: 10px 10px 10px  rgb(47, 45, 45);
    border-radius: 2rem;
    margin: 1rem;
    padding: 2rem;
    font-size: 4rem;
    text-align: center;
    
}
.container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 12rem 0rem 5rem 0rem;
    
    

}

.item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 550px;
    max-width: 820px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 20px 20px 20px 10px rgba(45, 45, 45, 0.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr) ;
    border: 2px solid white;
    
}
.contact{
    background: black;
}

.submit-form{
    background: rgb(255, 0, 85); 
}

.first-text{
    justify-content: center;
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 35px;
    color: rgb(206, 114, 198)
} 


.social-links{
    margin: 5px 0px 0px 20px;
    padding-left: 20px;

}

.second-text{
    padding-left: 70px;
    margin-top: 2rem;
    
    font-size: 1.2rem;
    color:rgb(206, 114, 198);
}

.image{
    height: 350px;
    width: 350px;
    justify-content: center;
}

.email{
    padding: 80px 0px 0px 50px;
    color: whitesmoke;
}

.social-media{
    display: flex;
    list-style: none;
    margin: 20px;
    padding-left: 50px;
    font-size: 1rem;
    
}
.social-media> li> a{
    font-size: 30px;
    
    margin-left: 30px;
    padding: 5px;
    background-color:rgb(206, 114, 198);
    border-radius: 8px;
}
.social-media> li> a:hover{
    background-color: black;
}

.third-text{
    font-size: 25px;
    position: relative;
    top: 20px;
    padding-top:10px;
    color: #fff;

}


.submit-form{
    text-align: center;
    justify-content: center;
    



}
form {
    padding: 0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    
}

.input-box{
    
    height: 40px;
    width: 20rem;
    margin: 35px 0;
    position: relative;
    
}

.input-box>::placeholder{
    color: black;
}
.input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: black;
    font-size: 16px;
}


textarea.input{
    padding: 10px;
    resize: none;
    min-height: 150px;
    overflow: auto;
}

#message>::placeholder{
    background-color: black;
}


.btn2{
    position: relative;
    top: 100px;
    background: rgb(255, 255, 255);
    color: black;
    outline: none;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 30%;
    font-size: 16px;

}

.btn2:hover{
    background-color: black;
    color:rgb(255, 0, 85); 
}

footer{

    background-color: rgb(26, 26, 26);
    width: 100%;
    padding: 20px;
    height: 100%;
    margin: 20px 0  0px 0;
    justify-content: center;
    text-align: center;
}


.footer-content{
    height: 50%;
}
footer> p{
    width: 100%;
    height: 5rem
    
}



/* Responsiveness */


@media  screen and (max-width:1470px){

    .main>.text>p{
        margin-top: 2rem;
        font-size: 1.3rem;
    }
    
    .text{
        margin-top: 3.8rem;
        padding-right: 8rem;
        font-size: 2.4rem;
        
    
    }
  

    .btn{
        text-align: center;
        font-size: 1.4rem;
        border: 2px solid white;
        width: 10rem;
        border-radius: 1.5rem;
        padding: 0.4rem;
        margin-top: 40px;
        
        background: hsla(302, 82%, 76%, 1);
    
     background: linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
    
     background: -moz-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
    
     background: -webkit-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
    
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F492F0", endColorstr="#A18DCE", GradientType=1 );
    }
    .aboutmetext h1{
        font-size: 3.5rem;
        color: rgb(255, 1, 86);
        margin-bottom: 1.9rem;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 3px 2px rgb(128, 18, 18); ;
    }
    .aboutmetext h2{
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1.8rem;
    }
    
    .aboutmetext p{
        font-size: 1.1rem;
    }
    
    .aboutme .my{
        height: 23.5rem;
        margin: 0rem 5rem 10rem 5rem;
        text-transform: uppercase;
        
        
    }

    .skills h1{
        font-size: 3.5rem;
        margin: 10rem 0rem 2rem 0rem;
        text-transform: uppercase;
        color: rgb(255, 0, 85);
        text-align: center;
        text-shadow:2px 3px 2px rgb(128, 18, 18); 
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        margin-bottom: 18rem;
    }
    .grid-item {
        background-color: rgba(0, 0, 0, 0.8);
        border: 0.1rem solid rgb(250, 3, 86);
        box-shadow: 10px 10px 10px  rgb(47, 45, 45);
        border-radius: 2rem;
        margin: 1rem;
        padding: 2rem;
        font-size: 3rem;
        text-align: center;
        
    }   

    footer{

        background-color: rgb(26, 26, 26);
        width: 100%;
        padding: 20px;
        height: 100%;
        margin: 10rem 0  0px 0;
        justify-content: center;
        text-align: center;
    }

   
  

}


@media only screen and (max-width:1240px){
    
    .main{
    
        margin: 5rem 1rem 3rem 3rem ;
        display: flex;
        padding: 2rem;
        justify-content: center;
    }

    .text{
        margin-top: 2.5rem;
        padding-right: 8rem;
        font-size: 2.4rem;
        
    
    }
    
    
    .text>h1{
        font-size: 2.4rem;
        margin-top: 0.3rem;
    }

    .text>h2{
        font-size: 3.4rem;
        padding-bottom: 0.5rem;
    }


    .aboutmetext h1{
        font-size: 3.5rem;
        color: rgb(255, 1, 86);
        margin-bottom: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 3px 2px rgb(128, 18, 18); ;
    }


    .aboutmetext h2{
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .aboutmetext p{
        font-size: 1.1rem;
    }

    footer{

        background-color: rgb(26, 26, 26);
        width: 100%;
        padding: 20px;
        height: 100%;
        margin: 30px 0  0px 0;
        justify-content: center;
        text-align: center;
    }


   





}


@media screen and (max-width:950px){
    .navbar{
        display: flex;
        padding: 2rem;
        justify-content: center;
    }

    .navbar a{
        padding: 2rem;
        font-size: 1.3rem;
    
        
    }

    .main{
    
        margin: 4rem 1rem 3rem 3rem ;
        display: flex;
        padding: 2rem;
        justify-content: center;
    }

    .text{
        margin-top: 1rem;
        padding-right: 8rem;
        font-size: 1.5rem;
        
    
    }
    
    
    .text>h1{
        font-size: 1.5rem;
        margin-top: 0.3rem;
    }

    .text>h2{
        font-size: 2rem;
        padding-bottom: 0.4rem;
    }

    .top{
        height: 15rem;
        border-radius: 10px 100px / 120px;
        
        
    }

    .main>.text>p{
        margin-top: 1rem;
        font-size: 1rem;
    }
    .btn{
        text-align: center;
        font-size: 1rem;
        border: 2px solid white;
        width: 7rem;
        border-radius: 1.3rem;
        padding: 0.2rem;
        margin-top: 20px;
        
        background: hsla(302, 82%, 76%, 1);
    
     background: linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
    
     background: -moz-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
    
     background: -webkit-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
    
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F492F0", endColorstr="#A18DCE", GradientType=1 );
    }


    .aboutme .my{
        height: 14rem;
        width: 15rem;
        margin: 0rem 2rem 10rem 5rem;
        
        
        
    }


    .aboutme{
        display: flex;
        margin: 9rem 0rem -5rem 0rem;
        
        
    }

    
    
    .aboutmetext{
        margin-right: 2rem;
    }
    
    .aboutmetext h1{
        margin-top: -3rem;
        font-size: 2rem;
        color: rgb(255, 1, 86);
        margin-bottom: 0.5rem;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 3px 2px rgb(128, 18, 18); ;
    }
    
    .aboutmetext h2{
        font-size: 1rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    
    .aboutmetext p{
        font-size: 0.9rem;
    }
    

    .skills h1{
        font-size: 2.3rem;
        margin: 5rem 0rem 1rem 0rem;
        text-transform: uppercase;
        color: rgb(255, 0, 85);
        text-align: center;
        text-shadow:2px 3px 2px rgb(128, 18, 18); 
    }
    
    .skills{
        margin: 1rem 1rem 10rem 1rem;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 6px;
        margin-bottom: 6rem;
    }
    .grid-item {
        background-color: rgba(0, 0, 0, 0.8);
        border: 0.1rem solid rgb(250, 3, 86);
        box-shadow: 10px 10px 10px  rgb(47, 45, 45);
        border-radius: 2rem;
        margin: 1rem;
        padding: 1rem;
        font-size: 2rem;
        text-align: center;
        
    }

    .item{
        grid-template-columns: 1fr;
    }

    .contact{
        display: none;

    }



    .container{
        display: block;
        align-items: center;
        text-align: center;
        width: 80%;
        height: 100%;
        margin: auto;

    }

    .input-box{
    
        height: 40px;
        width: 20rem;
        margin-left:100px ;
        position: relative;
        
    }

}













@media  screen and (max-width:680px){
    .navbar{
        display: flex;
        margin-left: 5.4rem;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        justify-content: center;
        text-align: center;
    }

    .navbar li a{
        text-align: center;
        justify-content: center;
        font-size: 1.2rem;
       
    
        
    }



    .main{
    
        margin: 0rem 1rem 0rem 0.2rem ;
        display: flex;
        padding: 2rem;
        justify-content: space-between;
    }

    .text{
        
        width: 15rem;
        margin-right: 1rem;
        
    }

    .text>h2{
        font-size: 1.6rem;
        white-space:nowrap;
        
        
        
    }

    
    .text>h1{
        
        font-size: 1.3rem;
        width: 15rem;
        
    }

    .main>.text>p{
        
       
        width: 15rem;
        font-size: 1rem;
    }

 

 
    .top{
        
        height: 10rem;
        border-radius: 10px 100px / 120px;
        margin-top: 2rem;
        
        
    }



    .aboutme{

    display: flex;
    margin: 3rem  0rem 3rem 0rem;

    }




  

    .aboutme .my{
        height: 10rem;
        width: 13rem;
        margin: 3rem 0.5rem 2rem 2rem;
        
        
        
    }

   
    
    .aboutmetext h1{
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        width: 12.3rem;
        font-size: 1.5rem;
        color: rgb(255, 1, 86);
        margin-bottom: 0.5rem;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 3px 2px rgb(128, 18, 18); ;
    }
    
    .aboutmetext h2{
        font-size: 0.6rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    
    .aboutmetext p{
        font-size: 0.61rem;
    }


    .skills h1{
        font-size: 1.7rem;
        margin: 5rem 0rem 1rem 7rem;
        text-transform: uppercase;
        color: rgb(255, 0, 85);
        text-align: center;
        text-shadow:2px 3px 2px rgb(128, 18, 18); 
    }
    
    .skills{
        margin: 1rem 1rem 3rem 0rem;
        
        
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        margin-left: 2.4rem;
      
       
    }
    .grid-item {
        background-color: rgba(0, 0, 0, 0.8);
        border: 0.1rem solid rgb(250, 3, 86);
        box-shadow: 10px 10px 10px  rgb(47, 45, 45);
        border-radius: 2rem;
        width: 6rem;
        height: 3.2rem;
        margin: 1rem;
        padding: 0.7rem 1rem 1rem 1rem ;
        font-size: 1.5rem;
        text-align: center;
        
    }



    .item{
        grid-template-columns: 1fr;
    }

    .contact{
        display: none;
        

    }



    .container{
        display: block;
        align-items: center;
        text-align: center;
        width: 105%;
        height: 100%;
        margin-left: 2.5rem;
        margin-bottom: 5rem;

    }




    .third-text{
        font-size: 1.6rem;
        position: relative;
        
        top: 20px;
        padding-top:10px;
        color: #fff;
    
    }

    .input-box{
    
        height: 2.5rem;
        width: 18rem;
        margin-left:1px ;
        position: relative;
        
    }



    .btn2{
        position: relative;
        top: 100px;
        background: rgb(255, 255, 255);
        color: black;
        outline: none;
        border: none;
        border-radius: 10px;
        height: 40px;
        width: 30%;
        font-size: 13px;
    
    }
    

    
    footer{
    
        background-color:black;
        width: 100%;
        padding: 20px;
        height: 100%;
        margin: 20px 0px  0px 0;
        justify-content: center;
        text-align: center;
    }
    
    
    .footer-content{
        height: 50%;
        padding-left: 6rem;
    }
    footer> p{
        width: 100%;
        height: 5rem
        
    }

 


    
    
    





    


    
 
 
}

   





